<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <clear />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="Tridion" value="https://sdl-connectors.pkgs.visualstudio.com/_packaging/Sdl-Tridion-Connectors/nuget/v3/index.json" />
    <add key="Package source" value="https://packagesource" />

    <add key="SFMC_Local_packages" value="C:\SDL_Dev\onesdldemo\SFMC\sfmc_local_packages" />

  </packageSources>

  <packageSourceCredentials>
    <Tridion>
      <add key="Username" value="" />
      <add key="ClearTextPassword" value="" />
    </Tridion>
  </packageSourceCredentials>
</configuration>